* {
  box-sizing: border-box;
  margin: 0;
}
.main-content {
  text-align: center;
}

.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-square {
  text-align: center;
  border-width: 0.1px;
  border-style: solid;
}
